<!DOCTYPE html>
<html>
<head>
    
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant Manager Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                    @Html.ActionLink("Demo Restaurant 2017", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
                 </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*Remove unused home/ thông tin/ liên hệ*@
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Thông tin", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Sản phẩm", "Index", "Products")</li>
                    <li>@{Html.RenderAction("CategoriesMenu", "Home");}</li>
                    <li>@Html.ActionLink("Thanh Toán", "Index", "ShoppingCart")</li>
                    
                    @if (User.IsInRole("Admin"))
                    {
                    <li role="presentation" class="dropdown" style="background-color:#222222">
                        <a class="dropdown-toggle" data-toggle="dropdown" >
                            Quản lý hệ thống  <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu" style="background-color:#222222">
                            <li >@Html.ActionLink("Tài khoản", "UserIndex", "Admin",null,new { @style = "color:white" })</li>
                            <li >@Html.ActionLink("Role", "Index", "Admin",null, new { @style = "color:white" })</li>
                            <li role="separator" class="divider"></li>
                            <li >@Html.ActionLink("Khách hàng", "Index", "Customers",null, new { @style = "color:white" })</li>
                            <li >@Html.ActionLink("order", "Index", "Orders",null, new { @style = "color:white" })</li>
                            <li >@Html.ActionLink("order detail", "Index", "OrderDetails",null, new { @style = "color:white" })</li>
                            <li >@Html.ActionLink("Cart Index", "Index", "Carts",null, new { @style = "color:white" })</li>
                            
                        </ul>
                    </li>
                   

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
          
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Restaurant Manager Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
